menuconfig MICRONET_OBC
	bool "Micronet OBC drivers"
	---help---
	  Say Y here to get Micronet OBC drivers.


if MICRONET_OBC

config MICRONET_VACCEL
	tristate "Micronet Virtual Accellerometer FIFO driver"
	help
	  Micronet OBC virtual accellerometer Driver.


endif
		
