


config PRODUCT_A2001
	depends on ARCH_MSM8916
	bool "PRODUCT_A2001 version"
	help
	  Fix version type as PRODUCT_A2001.

config PRODUCT_A3001
	depends on ARCH_MSM8916
	bool "PRODUCT_A3001 version"
	help
	  Fix version type as PRODUCT_A3001.
config PRODUCT_A3002
	depends on ARCH_MSM8916
	bool "PRODUCT_A3002 version"
	help
	  Fix version type as PRODUCT_A3002.
